
<div class="form-group">
    <label for="exampleFormControlTextarea1">Date From</label>
    <input type="date" required class="form-control" name="dateFrom">
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Date To</label>
    <input type="date" required class="form-control" name="dateTo">
</div>